#content .catalogue .matrix a.img {
	height: 120px;
}
#center #left .vote .inner form input[type="radio"], #center #right_main .vote .inner form input[type="radio"] {
	margin-top: -1px;
}
textarea {
	overflow: auto;
}