/**
 * redefine fotorama styles
 */
.fotorama__nav--thumbs {
    text-align: left;
}
.fotorama--fullscreen .fotorama__nav--thumbs {
    text-align: center;
}

/**
 * add new RBC styles
 */
.fotorama-skin-rsp {
    padding: 0px;
    background: #fff;
}
.fotorama-skin-rsp_hidden {
    opacity: 0;
}

.fotorama-skin-rsp .fotorama__thumb-border {
    border-color: #f68c32;
}


.fotorama-rsp-fullscreen-description {
    position: absolute;
    right: 0;
    width: 400px;
    color: #fff;
    z-index: 10000000000;
	top: 0;
    background: #000000;
}
.fotorama-rsp-fullscreen__inner {
    max-width: 740px;
    margin: 0 auto;
    padding: 45px 50px 25px 25px;
}
.fotorama-rsp-fullscreen__meta {
    overflow: hidden;
    clear: both;
}
.fotorama-rsp-fullscreen__description {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 18px;
}
.fotorama-rsp-fullscreen__copyright {
    float: right;
    font-size: 9px;
    line-height: 15px;
}
.fotorama-rsp-fullscreen__button-hide {
    float: left;
    color: #fff !important;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 1px dotted;
}
.fotorama-rsp-fullscreen__button-hide:active {
    color: #fff;
}
.fotorama__nav-wrap {
	/*margin-bottom: 14px;*/
}